{% extends "base.html" %}

{% block title %}Tage{% endblock %}

{% block sidebar_title %}A 1{% endblock %}
{% block header_title %}A 1{% endblock %}

{% block page_heading %}Die Tage{% endblock %}

{% block content %}
<!-- table -->
{% if dates %}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
Hide/Show
</button>
    
<div class="collapse" id="collapseTable">
    <table class="table">
        {% for date in dates %}
            <tr>
                <td>
                    {{ date[0] }}
                </td>
                <td>
                    {{ date[1] }}
                </td>
                <td><audio controls src="{{ date[2] }}" >Link</audio></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}


<div>
    <h5>Das Datum</h5>
    Heute is der
    {{ date }}.{{ month }}.{{ year }}

    <!-- Form -->
    <div class="mui-container">
    <form class="form-inline" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <input name="answer" class="form-control" style="width:300px" placeholder="Enter a whole answer" type="text" >&nbsp;
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="month" value="{{ month }}">
            <input type="hidden" name="year" value="{{ year }}">

            <button type="submit" class="btn btn-primary">Enter</button>
        </div>
    </form>

    {% if validation  %}
        {{ validation }}
    {%  endif %}
    </div>
</div>
{% endblock %}