{% extends "base.html" %}

{% block title %}Dauer{% endblock %}

{% block sidebar_title %}A 1{% endblock %}
{% block header_title %}A 1{% endblock %}

{% block page_heading %}Dauert{% endblock %}

{% block content %}
<h6>Wie lange dauert ...?</h6>

<!-- table -->
{% if display_value %}
<div class="row">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Activity</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
      </tr>
    </thead>
        {% for key, obj in display_value.items() %}
        <tr>
            <td>{{ key }}</td>
            {% for attribute, value in obj.items() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<!-- Question -->
<div class="mui-container">
<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        <input name="subject_id" class="form-control" placeholder="Enter activity" type="text" >&nbsp;<br />
        <input name="duration_id" class="form-control" style="width:300px" placeholder="Enter a whole answer" type="text" >&nbsp;
        <button type="submit" class="btn btn-primary">Enter</button>
    </div>
</form>

{% if error %}
<h4>{{error}}</h4>
{% endif %}

{% if answer_value %}
 <div class="mui-container">
     <div>{{ evaluate }}</div>
 </div>

 <div class="mui-container">
    {% if not evaluate %}
        <div>{{ answer }}</div>
    {% endif %}
 </div>

 </div>
{% endif %}
</div>
{% endblock %}