{% extends "base.html" %}

{% block title %}Modalverben{% endblock %}

{% block sidebar_title %}A 1{% endblock %}
{% block header_title %}A 1{% endblock %}

{% block page_heading %}Modalverben{% endblock %}

{% block content %}
<!-- table -->
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
Hide/Show
</button>
{% if display_value %}
<div class="collapse" id="collapseTable">
    <table class="table">
        <tr>
        {% for key in display_value %}
            <th scope="col">{{ key }}</th>
        {% endfor %}
        </tr>
        {% for noun in pronoun %}
            <tr>
            {% for key, value in display_value.items() %}
                {% if key == 'title' %}
                    <th scope="row">{{ noun }}</th>
                {% else %}
                <td>
                    {{ value[noun] }}
                </td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<!-- question -->
{% if modal_question %}
<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
        {{ modal_question['subject'] }}&nbsp;
        <input type="text" class="form-control" name="answer" id="answer" >&nbsp;
        {{ modal_question['body'] }}&nbsp;
        "{{ modal_question['original'] }}"&nbsp;
        <input type="hidden" name="questionkey" value="{{ modal_question['subject'] }}">
        <input type="hidden" name="modalverb" value="{{modal_question['modal']}}">
        <input type="hidden" name="questionbody" value="{{modal_question['body']}}">
        <input type="hidden" name="clear" value="none">

        <button type="submit" class="btn btn-primary btn-raised">Check</button>
    </div>
</form>

<!-- after sending answer -->
{% else %}
<div class="mui-container">
    <span>
        {{ result }}
    </span>
    <div class="row">
        <span>
        {{ questionkey }}&nbsp;
        <input type="text" name="answer_id" id="answer" value="{{ answer }}" disabled>&nbsp;
        {{ questionbody }}&nbsp;
        </span>

        <form class="form-inline" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-primary btn-raised">Clear</button>
            <input type="hidden" name="clear" value="clear">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}