{% extends "base.html" %}

{% block title %}Order Conversation{% endblock %}

{% block sidebar_title %}German Beginner{% endblock %}
{% block header_title %}German Beginner{% endblock %}

{% block page_heading %}Order Conversation{% endblock %}

{% block content %}
<div class="row">
    <div class="row msg_container base_sent">
        <div class="col-md-10 col-xs-10">
            <div class="messages msg_sent">
                <p>that mongodb thing looks good, huh?
                tiny master db, and huge document store</p>
            </div>
        </div>
    </div>
    <div class="row msg_container base_receive">
        <div class="col-md-10 col-xs-10">
            <div class="messages msg_receive">
                <p>that mongodb thing looks good, huh?
                tiny master db, and huge document store</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}