{% extends "base.html" %}

{% block title %}Das Perfekt{% endblock %}

{% block sidebar_title %}A 1{% endblock %}
{% block header_title %}A 1{% endblock %}

{% block page_heading %}Das Perfekt{% endblock %}

{% block content %}
<!-- Regular -->
<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary" type="button">Regelmäßig ohne Präfix</button>
    <input type="hidden" name="verbtype" value="regwopre">
</form>

<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary" type="button">Regelmäßig mit Präfix trennbare</button>
    <input type="hidden" name="verbtype" value="regwzpretre">
</form>

<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary" type="button">Regelmäßig mit Präfix nicht trennbare</button>
    <input type="hidden" name="verbtype" value="regwzpreni">
</form>

<!-- Irregular -->
<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary" type="button">Unregelmäßig ohne Präfix</button>
    <input type="hidden" name="verbtype" value="iregwopre">
</form>

<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary" type="button">Unregelmäßig mit Präfix trennbare</button>
    <input type="hidden" name="verbtype" value="iregwzpretre">
</form>

<form class="form-inline" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button type="submit" class="btn btn-primary" type="button">Unregelmäßig mit Präfix trennbare</button>
    <input type="hidden" name="verbtype" value="iregwzpreni">
</form>


{% if explanation %}
    <p>{{ explanation }}</p>
{% endif %}

<p>
   <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTable" aria-expanded="false" aria-controls="collapseTable">
    Hide/Show
   </button>
</p>

{% if verbs %}
<div class="collapse" id="collapseTable">
<table class="table">
    <tr>
        <th scope="col">Infinitiv</th>
        <th scope="col">Regelmäßig</th>
        <th scope="col">Trennbar</th>
        <th scope="col">Präfix</th>
        <th scope="col">Perfekt</th>
        <th scope="col">Hilfsverb</th>
        <th scope="col">Bedeuten</th>
    </tr>
{% for verb in verbs %}
        <tr>
            <td>{{ verb[0] }}</td>
            <td>{{ verb[1] }}</td>
            <td>{{ verb[2] }}</td>
            <td>{{ verb[3] }}</td>
            <td>{{ verb[4] }}</td>
            {% if verb[5] == None %}
                <td> - </td>
            {% else %}
                <td>{{ verb[5] }}</td>
            {% endif %}
            <td>{{ verb[6] }}</td>
        </tr>
{% endfor %}
 </table>
</div>
{% endif %}

{% if question %}
    <div class="row">
        <form class="form-inline" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                {{ question['subject'] }}&nbsp;
                <input type="text" class="form-control" name="pastanswer" id="answer" placeholder="Hilfsverb">&nbsp;
                {{ question['body'] }}&nbsp;
                <input type="text" class="form-control" name="perfectanswer" id="answer" placeholder="Partizip">&nbsp;
                "{{ question['verb'] }}"&nbsp;
                <input type="hidden" name="pastkey" value="{{ question['help'] }}">
                <input type="hidden" name="perfectverb" value="{{ question['perfect']}}">
                <input type="hidden" name="verb" value="{{ question['verb']}}">
                <input type="hidden" name="verbtype" value="none">

                <button type="submit" class="btn btn-primary btn-raised">Check</button>
            </div>
        </form>
    </div>
{% endif %}

{% if result %}
<p>{{ result }}</p>
{% endif %}
{% endblock %}