{% extends "base.html" %}

{% block title %}Uhrzeit Practice{% endblock %}

{% block sidebar_title %}A 1{% endblock %}
{% block header_title %}A 1{% endblock %}

{% block page_heading %}Uhrzeit Practice{% endblock %}

{% block content %}
<h5>Wie spät ist es?</h5>
<h4>{{display_value}}</h4>

<!-- display analog clock -->
{% if rotates %}
<div class="container">
<svg id="clock-svg" width="40%" viewBox="0 0 2000 1000">
<defs>
<g id="minuteHand">
  <line id="minuteHandLine" x1="0" y1="-280" x2="0" y2="0" stroke="#2E818D" stroke-width="15" transform="rotate({{ rotates[1] }})"/>
</g>

<g id="hourHand">
  <line id="hourHandLine" x1="0" y1="-230" x2="0" y2="0" stroke="#2E818D" stroke-width="20" transform="rotate({{ rotates[0]}})"/>
</g>

<g id="hourScale">
	<circle id="hourScaleLine" cx="3" cy="-357" r="15" stroke="none" fill="#888"/>
	<circle id="hourScaleLine" cx="0" cy="-360" r="15" stroke="none" fill="#fff"/>
</g>

<g id="clock">
	<circle cx="4" cy="4" r="400" fill="none" stroke="#888" stroke-width="20" />
	<circle cx="0" cy="0" r="400" fill="none" stroke="#8bcfda" stroke-width="20" />

	<use xlink:href="#hourScale" transform="rotate(0)" />
	<use xlink:href="#hourScale" transform="rotate(30)" />
	<use xlink:href="#hourScale" transform="rotate(60)" />
	<use xlink:href="#hourScale" transform="rotate(90)" />
	<use xlink:href="#hourScale" transform="rotate(120)" />
	<use xlink:href="#hourScale" transform="rotate(150)" />
	<use xlink:href="#hourScale" transform="rotate(180)" />
	<use xlink:href="#hourScale" transform="rotate(210)" />
	<use xlink:href="#hourScale" transform="rotate(240)" />
	<use xlink:href="#hourScale" transform="rotate(270)" />
	<use xlink:href="#hourScale" transform="rotate(300)" />
	<use xlink:href="#hourScale" transform="rotate(330)" />

	<use xlink:href="#minuteHand" transform="translate(0, 0)" />
	<use xlink:href="#hourHand"   transform="translate(0, 0)" />
	<circle cx="0" cy="0" r="13" fill="" stroke="#fff" stroke-width="20" />
</g>
</defs>

<use xlink:href="#clock" transform="translate(500, 550)" />
</svg>
{% endif %}
</div>

<!-- answer -->
<div class="container">
    {% if display_value %}
    <div style="display: flex;">
    <form class="form-inline" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            <input type="hidden" name="entered_value" value="{{display_value}}">
            <button type="submit"  class="btn btn-primary btn-raised">Answer</button>
        </div>
    </form>
    <form class="form-inline" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-default">Clear</button>
        <input type="hidden" name="entered_value" value="clear">
    </form>
    </div>
    {% endif %}

    {% if time_value %}
    {% for time in time_value %}
    <div>
        <ul>
            <li> {{ time }} </li>
        </ul>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}